@use '../../styles/index' as *;

.app {
	display: grid;
	gap: 50px;
	padding: 1rem;
}

@include mq-sm {
	.app {
		max-width: map-get($breakpoints, 'sm');
		margin: auto;
	}
}

@include mq-md {
	.app {
		max-width: map-get($breakpoints, 'md');
	}
}

@include mq-lg {
	.app {
		max-width: map-get($breakpoints, 'lg');
	}
}
