@use '../../styles/index' as *;

.header {
	@include display($align: center, $justify: space-between);
	padding: 20px 10px;

	&__icon {
		display: block;
		width: 50px;

		svg path {
			fill: $secondary-color;
		}
	}

	&__links {
		display: none;
	}

	&__link {
		@include transition;
		padding: 8px 16px;
		font-size: 1rem;
		font-weight: bold;
		color: $secondary-color;

		&:hover {
			opacity: 0.8;
		}
	}
}

@include mq-sm {
	.header {
		padding: 20px;

		&__icon {
			width: 70px;
		}

		&__links {
			@include display($align: center);
		}
	}
}
